name: Tests

on:
  push:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -e . # Install the calorie_analyzer package in editable mode
        pip install pytest typer pandas openpyxl scikit-learn matplotlib # Ensure all are installed for testing

    - name: Run tests
      run: |
        pytest tests/
